@use "../scss/form" as *;

.login-form {

    label {
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 1ch;
    }

    fieldset {
        border: none;
        display: flex;
        flex-direction: column;
    }

    input {
        padding: 1rem;
        font-size: 2rem;
        border: none;
        border-bottom: 1px solid currentColor;
        background-color: rgba(white, 0.4);

        &:focus {
            background-color: rgba(white, 0.6);
        }

        /*&[data-validated=true] {
            border: 1px solid currentColor;
            background-color: rgba(white, 0.3);
        }*/

        &[data-error="true"],
        &[data-error="true"]:focus {
            //border: 1px solid red;
            background-color: rgba(white, 0.5);
            outline: 1px solid red;
        }
    }

    .actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem 1rem;
        justify-items: center;
        width: 100%;
        align-self: center;
        margin-top: 4rem;

        button {
            grid-column: 1 / -1;
            width: 100%;
            padding: 1rem;
            font-size: 2rem;
            text-transform: uppercase;
            background-color: var(--primary-color-1);
            color: var(--secondary-color-2);
            border: none;
            border-radius: 1rem;
            cursor: pointer;

            &:disabled {
                opacity: 0.6;
                cursor: not-allowed;
            }

            &:hover,
            &:active {
                background-color: var(--secondary-color-1);
            }
        }

    }
}