.site-nav {
    background-color: rgba(white, 0.5);
    color: var(--primary-color-1);
    padding: 2rem;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            & + li {
                margin-top: 1rem;
            }
        }
    }
}